<header>
    <div class="container-fluid">
        <div class="row">
            <h1 class="col">Ken Cargill</h1>
                <a class="col">about</a>
                <a class="col">projects</a>
                <a class="col">resume</a>
                <a class="col">contact</a>
                <a class="col">linkedin</a>
                <a class="col">github</a>
        </div>
    </div>
</header>