<header>
    <div>
        <h1>Ken Cargill</h1>
        <ul>
            <li>about</li>
            <li>projects</li>
            <li>resume</li>
            <li>contact</li>
            <li>linkedin</li>
            <li>github</li>
        </ul>
    </div>
</header>